<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Paypal Test App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Casque Audio</h1>
        <h2>Acheter pour 25€</h2>
        <form action="/pay"  method="post">
            <input type="submit" name="submit" value="Acheter">
        </form>
    </body>
</html>